﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>John Horton Cornway's Game of Life(<a href="https://en.wikipedia.org/wiki/Conway%27s_Game_of_Life">1970</a>)</h1>
    <p class="lead">Is an automated 0-player simulation game where cells reproduce or die by the following rules:</p>
    <ol>
        <li>Any live cell with fewer than two live neighbors dies, as if by under population.</li>
        <li>Any live cell with two or three live neighbors lives on to the next generation.</li>
        <li>Any live cell with more than three live neighbors dies, as if by overpopulation.</li>
        <li>Any dead cell with exactly three live neighbors becomes a live cell, as if by reproduction.</li>
    </ol>
</div>

<div class="row" ng-app="lifeApp">
    <div ng-controller="homeCtrl">
        Hello {{name}}!
        <span ng-hide="!isLoading">Loading...</span>
        <div class="row" ng-hide="isLoading">
            <h2>Grid</h2>
            <canvas id="grid" width="400" height="400" style="border: 1px solid black;">
                <!-- Grid here -->
            </canvas>
            <button class="btn btn-primary">Advance</button>
        </div>
    </div>
</div>